---
layout: base
---

{% include _oldcover.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <article>                
            {% for post in paginator.posts %}
              {% unless post.draft %}
                <section class="index">
            {% if post.author.image %}<img src="{{ site.baseurl }}/images/{{ post.author.image }}" class="avatar">{% endif %}
                    <div>
                        <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
                        <p>{{ post.excerpt }}</p>
                        <div class="meta">
                            <address>{{ post.author.name }}</address> &mdash;
                            <time pubdate datetime="{{ post.date | date: "%d/%m/%Y" }}" title="{{ post.date | date: "%d/%m/%Y" }}">{{ post.date | date: "%d/%m/%Y" }}</time>
                        </div>
                    </div>
                    <hr>
                </section>
                {% endunless %}
                {% endfor %}
                <section class="pagination" style="text-align:center">
                  {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                    <a href="{{ site.baseurl }}/" class="btn btn-outline">‹ Recientes</a>
                    {% else %}
                    <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Recientes</a>
                    {% endif %}
                  {% endif %}
                  {% if paginator.next_page %}
                    <a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="btn btn-outline">Anteriores ›</a>
                  {% endif %}
                </section>
            </article>
        </div>

        <div class="col-lg-4 col-xs-12">
            {% include _feedhome.html %}
        </div>

    </div>
</div>