---
layout: base
---

{% include _oldcover.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <article>                
            {% for post in paginator.posts %}
              {% unless post.draft %}
                {% assign _post_author = nil %}
                {% for _a in site.data.authors %}
                  {% if _a[1].name == post.author.name %}
                    {% assign _post_author = _a[1] %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% assign _author_image = _post_author.image | default: post.author.image %}
                {% assign _author_name = post.author.name %}
                <section class="index">
                {% if _author_image %}<img src="{{ site.baseurl }}/images/{{ _author_image }}" class="avatar" alt="{{ _author_name }}">{% endif %}
                    <div>
                        <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>

      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img {{ html }} class="img-fluid img-rounded" alt="{{ post.title }}" loading="lazy" decoding="async" />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}

                        <p>{{ post.excerpt | strip_html }}</p>
                        <div class="meta">
                            <address>{{ _author_name }}</address> &mdash;
                            <time pubdate datetime="{{ post.date | date: "%d/%m/%Y" }}" title="{{ post.date | date: "%d/%m/%Y" }}">{{ post.date | date: "%d/%m/%Y" }}</time>
                        </div>
                    </div>
                    <hr>
                </section>
                {% endunless %}
                {% endfor %}
                <nav class="pagination" aria-label="Paginación" style="text-align:center">
                  {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                    <a href="{{ site.baseurl }}/" class="btn btn-outline">‹ Recientes</a>
                    {% else %}
                    <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Recientes</a>
                    {% endif %}
                  {% endif %}
                  {% if paginator.next_page %}
                    <a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="btn btn-outline">Anteriores ›</a>
                  {% endif %}
                </nav>
            </article>
        </div>

        <div class="col-lg-4 col-xs-12">
            {% include _feedhome.html %}
        </div>

    </div>
</div>