{% assign _resolved_author = nil %}
{% for _a in site.data.authors %}
  {% if _a[1].name == page.author.name %}
    {% assign _resolved_author = _a[1] %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign author_name = page.author.name %}
{% assign author_twitter = _resolved_author.twitter | default: page.author.twitter %}
{% assign author_bio = _resolved_author.bio | default: page.author.bio %}
{% assign author_image = _resolved_author.image | default: page.author.image %}
{% assign author_link = _resolved_author.link | default: page.author.link %}
