{% assign post = include.post %}
{% assign author = site.data.authors[post.author] %}
{% assign cat_slug = post.categories | first %}
{% assign section = site.data.sections[cat_slug] %}

<article class="card-ed">
  <a href="{{ site.baseurl }}{{ post.url }}" class="card-ed__link">
    {% if post.image %}
    <div class="card-ed__img-wrap">
      <img src="{{ site.baseurl }}{{ post.image }}" alt=""
           class="card-ed__img" loading="lazy" decoding="async"
           width="800" height="450">
    </div>
    {% endif %}
    <div class="card-ed__body">
      {% if cat_slug %}
      <span class="category-pill"
            style="--pill-color: {% if section %}{{ section.color }}{% else %}var(--color-brand){% endif %}">
        {% if section %}{{ section.title }}{% else %}{{ cat_slug | capitalize }}{% endif %}
      </span>
      {% endif %}
      <h3 class="card-ed__title">{{ post.title }}</h3>
      <p class="card-ed__excerpt">
        {{ post.excerpt | strip_html | truncatewords: 20 }}
      </p>
      <div class="card-ed__meta">
        {% if author %}
        {% if author.avatar %}
        <img src="{{ site.baseurl }}{{ author.avatar }}" alt="" class="avatar avatar--xs">
        {% endif %}
        <span>{{ author.name }}</span>
        {% endif %}
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%d %b %Y" }}
        </time>
      </div>
    </div>
  </a>
</article>
