<footer class="site-footer" role="contentinfo">
  <div class="container-xl">
    <div class="row g-4">

      <!-- Col 1: Brand -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="footer-block">
          <a href="{{ site.baseurl }}/" class="footer-brand">
            <strong>{{ site.title }}</strong>
          </a>
          <p class="footer-tagline">{{ site.description }}</p>
          {% if site.inc.company %}
          <p class="footer-entity">{{ site.inc.company }}</p>
          {% endif %}
        </div>
      </div>

      <!-- Col 2: Section links -->
      <div class="col-6 col-lg-3">
        <div class="footer-block">
          <h3 class="footer-heading">Secciones</h3>
          <ul class="footer-links" role="list">
            {% for section in site.data.navigation.sections %}
            <li><a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a></li>
            {% endfor %}
            {% if site.data.navigation.secondary %}
            {% for item in site.data.navigation.secondary %}
            <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>

      <!-- Col 3: Newsletter compact -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="footer-block">
          <h3 class="footer-heading">Newsletter</h3>
          {% include newsletter-compact.html %}
        </div>
      </div>

      <!-- Col 4: Social + legal -->
      <div class="col-6 col-lg-3">
        <div class="footer-block">
          <h3 class="footer-heading">Siguenos</h3>
          <ul class="footer-links" role="list">
            {% if site.inc.twitter %}
            <li><a href="https://twitter.com/{{ site.inc.twitter }}" target="_blank" rel="noopener">Twitter</a></li>
            {% endif %}
            {% if site.inc.facebook %}
            <li><a href="https://facebook.com/{{ site.inc.facebook }}" target="_blank" rel="noopener">Facebook</a></li>
            {% endif %}
            <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Bottom bar -->
    <div class="footer-bottom">
      <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}. {{ site.inc.company | default: "Universidad Miguel Hernandez" }}.</p>
      {% if site.issn %}
      <p>ISSN: {{ site.issn }}</p>
      {% endif %}
    </div>

  </div>
</footer>
