{% if site.data.popular.size > 0 %}
<div class="most-read-float" aria-label="Lo mas leido">
  <h3 class="most-read-float__title">
    <span class="most-read-float__dot" aria-hidden="true"></span>
    Lo más leído
  </h3>
  <ol class="most-read-float__list">
    {% for post in site.data.popular limit: 5 %}
    <li class="most-read-float__item">
      <span class="most-read-float__rank">{{ forloop.index }}</span>
      <a href="{{ site.baseurl }}{{ post.url }}" class="most-read-float__link">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
