<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/{{ site.inc.logo }}"/>

    <link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ post.excerpt | strip_html }}"/>
    <meta name="description" content="{{ post.excerpt | strip_html }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}">
    <meta property="fb:admins" content="1174442148"/>
    <meta property="fb:pages" content="541562072554836"/>

    <!-- Jekyl Seo TAG -->
            
    <meta name="twitter:card" content="summary_large_image">    
    <meta name="twitter:site" content="@mipumh"/>
    <meta name="twitter:creator" content="@{{ page.author.twitter }}"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}"/>
    <meta name="twitter:image" content="{% assign foundImage = 0 %}{% assign images = page.content | split:"<img " %}{% for image in images %}{% if image contains 'src' %}{% if foundImage == 0 %}{% assign html = image | split:"/>" | first %}{{ site.url }}{{ html | remove: 'alt=""' | remove: 'src="' }}{% assign foundImage = 1 %}{% endif %}{% endif %}{% endfor %}>


    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1696018580661964');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1696018580661964&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Twitter universal website tag code -->
    <script>
    !function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
    a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
    t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
    s.parentNode.insertBefore(t,s))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nv7bp');
    twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->

</head>
<body>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/{{ site.inc.logo }}" alt="Inc">
            </a>
            <a href="{{ site.baseurl }}/" class="home">Blog</a>
            <a href="{{ site.baseurl }}/about/">¿Quiénes somos?</a>
            <a href="{{ site.baseurl }}/informacion-master.html">Sobre nosotros</a>
            <a href="http://mip.umh.es/blog/2017/05/07/abecedario-innovacion-periodismo/">Abecedario</a>
        </nav>
        {% if site.inc.tagline or site.inc.product_url %}<nav class="tagline">
            {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
            {% if site.inc.product_link %}<a href="{{ site.inc.product_link }}" class="btn btn-outline">Ir al Máster</a>{% endif %}
        </nav>{% endif %}
    </header>
</section>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="{{ site.baseurl }}/">Blog</a> &middot;
            {% if site.inc.product_link %}<a href="{{ site.inc.product_link }}">Inicio</a> &middot; {% endif %}
            {% if site.inc.about_link %}<a href="{{ site.inc.about_link }}">Acerca</a>{% endif %}
        </nav>
        
        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}    
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

    {% include _scripts.html %}

</body>
</html>
