---
layout: default
---
{% assign featured = site.posts | where: "featured", true | first %}
{% unless featured %}{% assign featured = site.posts | first %}{% endunless %}
{% assign latest = site.posts
  | where_exp: "p", "p.url != featured.url" | slice: 0, 4 %}

<div class="homepage">
  <div class="container-xl">

    <h1 class="visually-hidden">{{ site.title }}</h1>

    <!-- Hero: laterales + principal centro -->
    <section class="hp-opener" aria-label="Ultimos articulos">
      <div class="opener-side opener-side--left">
        {% assign left = latest | slice: 0, 2 %}
        {% for post in left %}
          {% include card.html post=post %}
        {% endfor %}
      </div>
      <div class="opener-main">
        {% include hero.html post=featured %}
      </div>
      <div class="opener-side opener-side--right">
        {% assign right = latest | slice: 2, 2 %}
        {% for post in right %}
          {% include card.html post=post %}
        {% endfor %}
      </div>
    </section>

    {% assign section_count = 0 %}
    {% for section in site.data.navigation.sections %}
      {% assign sec_posts = site.posts
        | where_exp: "p", "p.categories contains section.slug"
        | where_exp: "p", "p.url != featured.url"
        | slice: 0, 3 %}
      {% if sec_posts.size > 0 %}
      {% assign section_count = section_count | plus: 1 %}

      {% if section_count == 4 %}
      {% include newsletter-big.html %}
      {% endif %}

      <section class="hp-block section-river"
               aria-labelledby="sec-{{ section.slug }}">
        <div class="river-row">
          <div class="river-title-col">
            <a href="{{ site.baseurl }}/{{ section.slug }}/" class="river-title-link"
               id="sec-{{ section.slug }}">
              {{ section.title }} <span class="river-arrow">&rsaquo;</span>
            </a>
          </div>
          <div class="river-cards-col">
            <div class="row g-4">
              {% for post in sec_posts %}
              <div class="col-12 col-sm-4">
                {% include card.html post=post %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    {% endfor %}

    {% include popular-carousel.html %}

  </div>
</div>
