---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="{{ site.baseurl }}/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
        <article>
                <header>
                    <h1 class="title">{{ page.title }}</h1>
                    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                    <div class="meta">
                    {% if page.periscopio == "si" %}

                        Firma invitada: <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a> &mdash;
                        <time pubdate datetime="{{ page.date | date: "%d/%m/%YB" }}" title="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%d/%m/%Y" }}</time></address>

                        {% else %}

                        <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a> &mdash;
                        <time pubdate datetime="{{ page.date | date: "%d/%m/%Y" }}" title="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%d/%m/%Y" }}</time></address>

                    {% endif %}

                    </div>

                </header>

                    {% if page.periscopio == "si" %}
                    <section class="index">Firma invitada: {% if page.author.image %}<img src="{{ site.baseurl }}/images/{{ page.author.image }}" class="avatar" style="display:inline-block;">{% endif %}<div><p style="display: inline-block;"><strong><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong><br><span class="muted">{{ page.author.bio }}.</span></p></div></section>
                    {% endif %}
                    
                <section>
                    {{ content }}
                    {% include _social.html %}
                </section>

            <div class="container">
                <footer>
                    <address>
                       {% if page.author.image %}<img src="{{ site.baseurl }}/images/{{ page.author.image }}">{% endif %}
                        <p><strong><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong><br>
                        <span class="muted">{{ page.author.bio }}</span>
                        </p>
                    </address>
                </footer>
            </div>
    
                    {% if site.inc.disqus.shortname %}
                    <section>
                        {% include _disqus.html %}
                    </section>
                    {% endif %}
        </article>
        </div>

        <div class="col-lg-4 col-xs-12">
            {% include _feedpost.html %}
        </div>
    </div>
</div>
